# Ignore everything EXCEPT what you want
*
# Include ONLY these
!public/assets_2/css/global-theme.css
!app/
!database/
!routes/
!config/
!resources/
!.gitignore
!composer.json
!composer.lock
!package.json
!vite.config.js
!.env.example
