:root {
    --primary: #f5f4f1;
    --secondary: #f3f6fd;
    --tertiary: #104f0b;
    --hijaumuda: #2f8719;
    --quartenary: #cad8ff;
    --quarnary: #606060;
    --senary: #a51c30;
    --septenary: #ffd502;
}

.text-hijaumuda {
    color: var(--hijaumuda) !important;
}

.text-septenary {
    color: var(--septenary) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.border-bottom-custom {
    border-bottom: 1px solid black;
}

.border-primary {
    border-color: var(--primary) !important;
}

.border-secondary {
    border-color: var(--secondary) !important;
}

.border-tertiary {
    border-color: var(--tertiary) !important;
}

.border-quartenary {
    border-color: var(--quartenary) !important;
}

.bg-nonary {
    background-color: var(--nonary) !important;
}

.text-nonary {
    color: var(--nonary) !important;
}

.border-nonary {
    border-color: var(--nonary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.border-secondary {
    border-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary) !important;
}

.text-tertiary {
    color: var(--tertiary) !important;
}

.border-tertiary {
    border-color: var(--tertiary) !important;
}

.bg-quartenary {
    background-color: var(--quartenary) !important;
}

.text-quartenary {
    color: var(--quartenary) !important;
}

.border-quartenary {
    border-color: var(--quartenary) !important;
}

.bg-quarnary {
    background-color: var(--quarnary) !important;
}

.text-quarnary {
    color: var(--quarnary) !important;
}

.border-quarnary {
    border-color: var(--quarnary) !important;
}

.rscm-button-primary {
    background-color: var(--primary);
    outline: none;
    border: 1px solid var(--primary);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
}

.rscm-button-primary:hover {
    background-color: #ffffff;
    color: var(--primary);
}

.rscm-button-white {
    background-color: #ffffff;
    outline: none;
    border: 1px solid #1e1e1e;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    color: var(--primary);
    text-decoration: none;
}

.rscm-button-white:hover {
    background-color: var(--primary);
    color: #ffffff;
}

.rscm-button-black {
    background-color: #1e1e1e;
    outline: none;
    border: 1px solid #ffffff;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 50px;
    color: var(--primary);
    text-decoration: none;
}

.rscm-button-black:hover {
    color: #1e1e1e;
}

.rscm-button-tertiary {
    background-color: var(--tertiary);
    outline: none;
    border: 1px solid var(--tertiary);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
}

.rscm-button-tertiary:hover {
    background-color: var(--quartenary);
    color: var(--tertiary);
}

.rscm-button-tertiary-round {
    background-color: var(--tertiary);
    outline: none;
    border: 1px solid var(--tertiary);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 50px;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
}

.rscm-button-tertiary-round:hover {
    background-color: var(--quartenary);
    color: var(--tertiary);
}

.rscm-button-quartenary {
    background-color: var(--quartenary);
    outline: none;
    border: 1px solid var(--primary);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    color: var(--primary);
    text-decoration: none;
}

.rscm-button-quartenary:hover {
    background-color: var(--primary);
    color: var(--quartenary);
    border: 1px solid var(--quartenary);
}

.rscm-button-senary {
    background-color: var(--senary);
    outline: none;
    border: 1px var(--primary);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    color: var(--primary);
    text-decoration: none;
}

.rscm-button-senary:hover {
    background-color: var(--senary);
    color: var(--senary);
    border: 1px solid var(--senary);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
}

button {
    outline: none;
}

section {
    padding: 100px 10px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-1 {
    font-size: 24px !important;
}

.fs-2 {
    font-size: 22px !important;
}

.fs-3 {
    font-size: 20px !important;
}

.fs-4 {
    font-size: 18px !important;
}

.fs-5 {
    font-size: 16px !important;
}

.fs-6 {
    font-size: 14px !important;
}

.fs-7 {
    font-size: 12px !important;
}

.form-control {
    font-size: 14px;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.w-0 {
    width: 0 !important;
}

.w-sidebar {
    width: 228px !important;
}

.w-sidebar-minimize {
    width: 63px !important;
}

@media (min-width: 1200px) {
    .w-lg-auto {
        width: auto !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-0 {
        width: 0 !important;
    }

    .w-lg-sidebar {
        width: 228px !important;
    }

    .w-lg-sidebar-minimize {
        width: 63px !important;
    }
}

.custom-input {
    border: 1px solid #ffff;
    background-color: var(--tertiary);
    border-radius: 50px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    color: white;
}

.custom-input::placeholder {
    color: white;
}

.input-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 500px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis-news {
    display: -webkit-box;
    height: 100px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

input {
    outline: none;
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1440px !important;
    }
}

.carousel-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7) 100%,
        rgba(255, 255, 255, 0)
    );
    z-index: 2;
}

.carousel-1 {
    background: url("/images/picture1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.carousel-2 {
    background: url("/images/pictures2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.carousel-3 {
    background: url("/images/picture2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.carousel-4 {
    background: url("/images/carousel4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.carousel-5 {
    background: url("/images/carousel51.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}
.carousel-6 {
    background: url("/images/carousel6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.carousel .title span {
    font-size: 100px !important;
    line-height: 1 !important;
}

.carousel .title_desc {
    font-size: 18px !important;
}

.carousel .title_desc_2 {
    font-size: 18px !important;
    font-style: italic;
}

@media (max-width: 1200px) {
    .carousel .title span {
        font-size: 48px !important;
    }

    .carousel .title_desc {
        font-size: 10px !important;
    }

    .carousel .title_desc_2 {
        font-size: 10px !important;
    }
}
